@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,100&family=Permanent+Marker&family=Press+Start+2P&family=Rock+Salt&display=swap');

.main-layout{
    width: 100vw;
    max-width: 2000px;
    margin: 0 auto
}
*{
    padding: 0;
    box-sizing: border-box;
}
div {
    display: block;
}

nav[data-v-56643fe0]{
    text-align: left;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem 2rem 0;
    background-color: var(--background-nav);
    z-index: 997;
    border-bottom: 1px solid transparent;
}
ul[data-v-56643fe0] {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-right: 15px
}
li {
    text-align: -webkit-match-parent;
}
a{
    text-decoration: none;
    color: rgb(10, 99, 201);
    transition: all .3s ease-in-out;
    float: right;
    margin-top: 2em;
    margin-right: 26px
}a {
    background-color: transparent;
}

html{
    font-size: 10;

}
body{
    font-family: 'montserrat', sans-serif;
}
mark.datum{
    color: rgb(245, 150, 26);
    font-family: 'montserrat';
    font-weight: bold;
    background: none;
    animation: appear 2.5s ease-in-out
}
.container{
    max-width: 1100px;
    margin: 0 left;
    padding: 0 2rem;
    text-align: left;
    margin-top: 10rem;
}

h1{
    color: rgb(17, 16, 16);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 0.5rem;

}
h2{
    color: rgb(99, 99, 99);
    font-size: 1.2rem;
    font-weight: 285;
    letter-spacing: 0;
    margin-bottom: 1rem;
}
footer{
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
    bottom: 0;
    cursor: default;
    height: 6em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}